<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>crezworld.</title>
        <link href="/stylesheets/foundation.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <div class="row">
                <div class="twelve columns">
                    <h1>crezworld.</h1>
                </div>
                <div id="nav">
                     <a href="/">home</a>|<a href="/category">categories</a>|<a href="/profile">profile</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                {{- messages() }}
             </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                {{- body}}
            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/javascripts/foundation.js" type="text/javascript"></script>
        <script src="/javascripts/modernizr.foundation.js" type="text/javascript"></script>
    </body>
</html>
